html, body {
    background-color: blueviolet;
    margin:0%;
    padding-top: 0%;
}
#navbar {
    position: fixed;
    background-color: aquamarine;
    left: 0%;
    top:0%;
    width: 100%;
    height: 20%;


}
#main {
    /* position: absolute; */
    top:20%;
    width: 100%;
    background-color: chocolate;
}